$bgColor:#F4F7FA;
$mainColor:#1ABC9C;
$mainTextColor:#FFFFFF;

$supportingColor1:#F4F7FA;
$supportingColor2:#D0DDE6;
$supportingColor3:#A8B6C1;
$supportingColor4:#616D76;
$supportingColor5:#1F262B;

$errorColor: #FF4040;
$warningColor: #FFC123;
$successColor: #00BB34;