.article-container-header {
    margin-top: 1rem;
    width: 80%;
    margin-right: 2px;

    &-content {
        width: 25%;
        border: 1px solid #ccc;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-bottom: none;
        padding: 3px 0 3px 12px;
        font-size: $text-md;
        font-weight: 500;

        @include mobileView {
            width: 50%;
            font-size: $text-xs;
            font-weight: 500;
        }
    }
}

.article-container {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 532px;
    border-top-left-radius: 0;
    position: relative;
    margin-bottom: 2rem;

    &-content-title {
        color: $mainColor;
        font-size: $text-lg;
        font-weight: 500;
        padding: 12px
    }

    &-content-description {
        padding: 18px 12px
    }

    &-content-image {
        padding: 18px 12px;

        .img {
            object-fit: cover;
            position: absolute;
            margin-top: 2rem;
            width: 98%;
            height: 300px;

            @include desktopView {
                width: 96%;
            }

            @include mobileView {
                width: 94%;
            }
        }
    }

}